:root {
  --ff-main: "Poppins", sans-serif;
  --ff-add: "Lato", sans-serif;

  --border-color: #d6d6d6;

  --btn-text: #fff;

  --btn-radius: 4px;

  --color-primary: #01996d;
}

body {
  font-family: var(--ff-main);
  margin: 0;
  padding: 0;
}

.wrapper {
}
.container {
  max-width: 1920px;
  margin-inline: auto;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: var(--btn-radius);
  background: transparent;
  padding: 13px 50px;
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  transition: 0.2s all ease-in-out;
}
.btn:hover {
  color: #000;
  background: #04b183;
}

.btn_primary {
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: var(--btn-text);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  padding: 14px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header__ul {
  display: flex;
  align-items: center;
  gap: 72px;
}

.header__a {
  color: #292929;
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 500;
}

.header__a:hover {
  color: #859e9e;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-section {
  background-image: url(./img/main-section-bg.png);
  background-position: 900px 0px;
  background-repeat: no-repeat;
}
.main-section__container {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 909px;
  padding-left: 68px;
}

.main-section__title {
  max-width: 443px;
  color: var(--color-primary);
  font-family: var(--ff-main);
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-section__desc {
  max-width: 420px;
  color: #484848;
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 400;
  line-height: 157%;
  margin-bottom: 53px;
}

.main-section__btn {
  padding: 20px 50px;
}

.step__container {
  padding: 57px;
}

.step-header {
  display: flex;
  align-items: center;
}

.step-header__title {
  color: #424242;
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 600;
  line-height: 157%;
}

.step-header__slogan {
  color: var(--color-primary);
  font-family: var(--ff-main);
  font-size: 50px;
  font-weight: 700;
  line-height: 157%;
  max-width: 579px;
}

.step-header__desc {
  color: #424242;
  font-family: var(--ff-add);
  font-size: 19px;
  font-weight: 500;
  line-height: 150%;
  max-width: 671px;
  padding-left: 141px;
}
.step-list {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  margin-bottom: 393px;
  gap: 68px;
}

.step-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.step-item__title {
  color: #000;
  text-align: center;
  font-family: var(--ff-main);
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 20px;
  text-align: left;
}

.step-item__desc {
  max-width: 390px;
  color: #424242;
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  padding-bottom: 66px;
}

.step-item__img img {
  width: 100%;
  max-width: 390px;
}

.story__container {
  max-width: 1920px;
  min-height: 922px;
  background: #245852;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 229px 107px 179px 107px;
}

.story__title {
  color: #fff;
  font-family: var(--ff-main);
  font-size: 50px;
  font-weight: 700;
  line-height: 157%;
  margin-bottom: 31px;
}
.story__descr {
  color: #fff;
  font-family: var(--ff-add);
  font-size: 25px;
  font-weight: 600;
  line-height: 157%;
}
.story__image {
  padding-left: 31px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.story__image img {
  max-width: 895px;
  width: 100%;
}

.story__btn {
  padding: 20px 50px;
  margin-top: 57px;
}
.story__btn a {
  color: var(--btn-text);
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.product__container {
  max-width: 1920px;
  min-height: 922px;
  display: flex;
  justify-content: center;
  padding: 120px 107px 179px 107px;
  gap: 87px;
}
.product__image {
  max-width: 638px;
  flex-shrink: 0;
}

.product__our {
  color: #424242;
  font-family: var(--ff-add);
  font-size: 25px;
  font-weight: 600;
  line-height: 157%;
  margin-bottom: 10px;
}
.product__title {
  color: var(--color-primary);
  font-family: var(--ff-main);
  font-size: 50px;
  font-weight: 700;
  line-height: 157%;
  margin-bottom: 20px;
  max-width: 573px;
}
.product__descr {
  color: #484848;
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 400;
  line-height: 157%;
  max-width: 530px;
}

.product__btn {
  padding: 20px 50px;
  margin-top: 40px;
}
.product__btn a {
  color: var(--btn-text);
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  min-height: 233px;
  background: #245852;
  padding-left: 195px;
  padding-right: 195px;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.footer__link {
  color: var(--btn-text);
  font-family: var(--ff-add);
  font-size: 25px;
  font-weight: 600;
}

.footer__link:hover {
  color: #33dbac;
  text-decoration: underline;
}
